[submodule "Submodules/P1x3lc0w.Common"]
	path = Submodules/P1x3lc0w.Common
	url = https://github.com/P1x3lc0w/P1x3lc0w.Common
[submodule "Submodules/P1x3lc0w.Extensions"]
	path = Submodules/P1x3lc0w.Extensions
	url = https://github.com/P1x3lc0w/P1x3lc0w.Extensions
